/*--------------------------------------------------------------
 Application.css
 Imports all stylesheets; sets defaults for bare elements
 --------------------------------------------------------------*/

@import 'layout.css';
@import 'content.css';
@import 'syntax.css';
@import 'akennedy.css';

@media print { #sidebar { display: none; }
               article { float: none; width: 90%;}
               article pre { color: #000; background: #eee; }
               article form.comments { display: none; } }

body {
  background: #f7f7f7;
  font: normal 12px "lucida grande", verdana, sans-serif;
}

input,
textarea { font: normal 12px "bitstream vera sans", verdana, sans-serif; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

a:link,  a:visited { color: #3b5998; }
a:hover, a:active  { color: #fff; background: #3b5998; text-decoration: none; }
